body main.main-container section.favorite-characters {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.28);
  background-image: url("../../../public/section-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 37%;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  box-shadow: 12px 12px 25px -18px;
  margin: 0 0 20px 0;
  min-height: 740px;
}
body main.main-container section.favorite-characters h2.favorites {
  text-align: center;
  text-transform: uppercase;
}
body
  main.main-container
  section.favorite-characters
  section.characters-container {
  display: flex;
  justify-content: space-around;
}
body
  main.main-container
  section.favorite-characters
  section.characters-container
  p {
  font-size: 20px;
  font-weight: bold;
}
body
  main.main-container
  section.favorite-characters
  section.characters-container
  article.character {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid darkgray;
  background: rgb(237 237 237);
  border-radius: 10px;
  box-shadow: 12px 12px 25px -18px;
  padding: 5px;
  max-width: 400px;
}
body
  main.main-container
  section.favorite-characters
  section.characters-container
  article.character
  h2 {
  margin: 0;
  text-align: center;
}
body
  main.main-container
  section.favorite-characters
  section.characters-container
  article.character
  h3 {
  margin: 0;
  text-align: center;
}
body
  main.main-container
  section.favorite-characters
  section.characters-container
  article.character
  img {
  max-width: 300px;
  max-height: 400px;
  margin: 0 20px;
  border: 8px solid #f2f2f2;
  border-radius: 10px;
  align-self: center;
}
body
  main.main-container
  section.favorite-characters
  section.characters-container
  article.character
  button {
  align-self: center;
  margin: 10px;
  width: 140px;
  height: 35px;
  border-radius: 14px;
  background: #a30202;
  color: white;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}
body
  main.main-container
  section.favorite-characters
  section.characters-container
  article.character
  button:hover {
  border: 3px solid #555;
  border-radius: 15px;
  box-shadow: 5px 2px 9px -3px #ff5e00;
}
body
  main.main-container
  section.favorite-characters
  section.characters-container
  article.character
  button:hover:active {
  box-shadow: 5px 2px 9px -3px #00d9ff;
}
body
  main.main-container
  section.favorite-characters
  section.pagination-buttons {
  margin: 20px 0 10px 0;
  align-self: center;
  width: 50%;
}

body
  main.main-container
  section.favorite-characters
  section.pagination-buttons
  nav
  aside {
  margin: 0;
  display: flex;
  justify-content: space-between;

  color: white;
  text-transform: uppercase;
}

body
  main.main-container
  section.favorite-characters
  section.pagination-buttons
  nav
  aside
  p {
  margin: 0;
  padding: 0;
}

body
  main.main-container
  section.favorite-characters
  section.pagination-buttons
  nav
  ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px 20px;
  border-radius: 20px;
  box-shadow: 5px 2px 9px -3px;
  margin: 8px;
}
body
  main.main-container
  section.favorite-characters
  section.pagination-buttons
  nav
  ul
  li:hover {
  border: none;
  border-radius: 8px;
  box-shadow: 5px 2px 9px -3px #ff9100;
}
body
  main.main-container
  section.favorite-characters
  section.pagination-buttons
  nav
  ul
  li:active {
  box-shadow: 5px 2px 9px -3px #00c3ff;
}

body
  main.main-container
  section.favorite-characters
  section.pagination-buttons
  nav
  ul
  li
  a {
  text-decoration: none;
  color: black;
}
